@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

html
	border: .001rem solid rgba(0,0,0,.3)
	overflow-y: hidden

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	user-select: none

.text-center
	text-align: center

b, strong
	font-weight: bold

.content-null
	content: ""

#root
	width: 100%
	height: 100vh
	min-width: 100vw
	min-height: 100vh
	transition: opacity 2s

.controls
	height: 30px
	max-height: 30px
	min-height: 30px
	width: 100%
	top: 0
	right: 0
	z-index: 999999
	.title-container
		width: 100%
		z-index: -1
		.favicon
			padding: 0
			padding-left: .5rem
			img
				height: 23px
		.title
			font-size: .8em
			padding: 0 1rem
			padding-left: .5rem
			color: $text
	.control-container
		.btn
			color: $text
			transition: .2s ease-in-out
			box-shadow: none
			padding: 0 1rem
			border-radius: 0
		.closen
			&:hover
				color: #fff
				background: #ff0035
		.restore
			&:hover
				background: rgba(0,0,0,.1)
		.minimize
			&:hover
				background: rgba(0,0,0,.1)

.content
	width: 100%
	margin-top: 30px
	height: calc(100vh - 30px)
	.player
		padding: .6rem
		width: 100%
		bottom: 0
		right: 0
		input
			-webkit-appearance: none
			outline: none
			width: 24rem
			transition: 0.2s
			&::-webkit-slider-runnable-track
				width: 100%
				height: 5px
				cursor: pointer
				box-shadow: 0px 0px 0rem #000000
				background: rgb(226,227,228)
				border-radius: 1px
				border: 0px solid #000000
			&::-webkit-slider-thumb
				border: 1px solid rgb(239,118,62)
				height: 11px
				width: 11px
				border-radius: 25px
				background: lighten(rgb(239,118,62), 10%)
				cursor: pointer
				-webkit-appearance: none
				margin-top: -3px
		.actions
			button.btn
				padding: .4rem .8rem
				margin: 0 .2rem
			.prev-btn,.next-btn
				box-shadow: none
			.play-btn
				color: #fff
				width: 3rem
				height: 3rem
				background: linear-gradient(45deg, rgb(239,118,62), rgb(238,153,48))
				box-shadow: 0 0 .5rem .01rem  rgb(238,153,48)
				border-radius: 3rem
		.volume
			.m-volume-cur
				left: 0
				height: 5px
				background: linear-gradient(90deg, rgb(239,118,62), rgb(238,153,48))
				pointer-events: none
			margin: 0 .4rem
			button.btn
				padding: .4rem .8rem
				margin: 0 .2rem
				width: 3rem
				box-shadow: none
			input
				width: 6rem
		.time
			margin: 0 .2rem
			font-size: .85em
			.time-before
				margin-right: .5rem
			.time-after
				margin-left: .5rem
			.time-line
				.m-player-cur
					height: 5px
					background: linear-gradient(90deg, rgb(239,118,62), rgb(238,153,48))
					left: 0
					pointer-events: none
@keyframes fadeOutOp
	0%
		opacity: 1
	50%
		opacity: .5
	100%
		opacity: 0

@keyframes fadeInOp
	0%
		opacity: 0
	50%
		opacity: .5
	100%
		opacity: 1

@keyframes animLogo
	from
		opacity: 1
	20%
		opacity: .6
	50%
		opacity: 0
	70%
		opacity: .6
	to
		opacity: 1

.input-icon
	font-size: 14px
	margin-right: 5px

.unset
	display: none

.logo
	height: 127px
	width: 251px
	animation: animLogo 4s infinite

.logo-title
	text-shadow: 0rem 0rem 6px rgba(0,0,0,.1) !important

@import "media" // Always at the end
